/* Our css for the app. */

/* Importing custom fonts: */
@font-face {
  font-family: "customfont";
  src: url("./fonts/RocketRinder.ttf") format("truetype");
}

body {
  font-family: customfont;
  /*uncomment this bottom line to use the default font.*/
  /* font-family: "Arial", sans-serif; */
  background-color: #8d4e8d; /* Purple background */
  color: #a30a5c; /* Deep pink text color */
  background-image: url("./images/vaporwave-wp-2.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* This will fit the image to the screen while maintaining its aspect ratio. */
  background-position: center;
  background-attachment: fixed;
}

.label {
  font-size: 3.1rem;
  color: #180044;
  text-shadow: 0 0 10px #0aa330;
  box-shadow: 0 0 10px 0 #c33ff7;
  border-radius: 0.2rem;
}

.search-bar {
  padding: 25px;
  text-align: center;
  /* width: 95vw; */
  height: 12vh;
  /* For a lighter background, uncomment below which you want to swap between */
  /* background-color: hsla(328, 100%, 68%, 0.7);  */ /* Deep pink background for search bar */
  background: linear-gradient(
    to bottom,
    hsla(241, 97%, 58%, 0.8),
    hsla(318, 100%, 66%, 0.7)
  );
}

input[type="text"] {
  padding: 5px;
  border: 2px solid #eb14ff; /* Deep pink border for input field */
  border-radius: 5px;
  margin-right: 10px;
  width: 400px;
  height: 3rem;
  font-size: 1.4rem;
}

button {
  font-family: customfont;
  padding: 5px 10px;
  background-color: #f30051b2; /* Deep pink background for search button */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.6rem;
  height: 4rem;
}

button:hover {
  background-color: #fd407f;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
}

.container {
  display: flex;
  font-size: 1.4rem;
  margin: auto;
  overflow-y: auto; /* This makes the container scrollable. */
}

.profile-container {
  flex: 1;
  background-color: #47edf0d9; /* Dark turquoise background for profile container */
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.profile-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.display-container {
  flex: 2;
  background-color: #f5db47d9; /* Gold background for display container */
  padding: 20px;
  margin: 10px;
  border-radius: 10px;

  overflow-y: auto; /* This makes the container scrollable. */
  max-height: 70vh; /* This ensures the container doesn't exceed 90% of the viewport height. */

  /* Styling the scrollbar */
  scrollbar-width: thin; /* optional */
  scrollbar-color: #853d3ba4 #d6c5a8;
  
  &::-webkit-scrollbar {
    width: 6px; /* required for scrollbar-width */
  }

  &::-webkit-scrollbar-track {
    background: #c5994c;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #853d3ba4;
    border-radius: 10px;
  }
}

h2 {
  color: #960351d5; /* Deep pink heading color */
}

p {
  color: #1d1b1bd5; /* White text color */
  margin: 5px 0;
}

/* Styling for loading page: */
.LoadingPage {
  background: url("./images/vaporwave-wp-4.jpg") center / cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: opacity 2s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 3rem;
  animation: fadeInOut 20s linear infinite;
} 
/* This is the animation that will be played when the page is loading. */
@keyframes fadeInOut {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* End. */
